include ./images/arrow

mixin button(options = {})
  - 
    const {
      backgroundColor = "",
      color = "",
      buttonType = "button",
      text = "click me",
      url = "",
      hasBorder = false,
      hasArrow = false,
    } = options;
    const containerClasses = [];
    const textClasses = [];

    containerClasses.push(backgroundColor ? `button_background-color_${backgroundColor}` : "");
    containerClasses.push(hasBorder ? "button_with-border" : "")
    textClasses.push(color ? `button__text_color_${color}` : "");

  div(class=["button"].concat(containerClasses))
    - if(buttonType === "a")
      a(class=["button__basis"] 
        href=(url ? url : "https://errorpage.com") target=(url ? "_blank" : "") rel=(url ? "noopener noreferrer" : ""))
        span(class=["button__text"].concat(textClasses))= text
        - if(hasArrow)
          span(class=["button__arrow"])
            +arrow()
    - else if(buttonType === "button")
      button(class=["button__basis"])
        span(class=["button__text"].concat(textClasses))= text
        - if(hasArrow)
          span(class=["button__arrow"])
            +arrow()
    - else if(buttonType === "submit")
      label(class=["button__basis"])
        input(class=["button__submit"] type="submit")
        span(class=["button__text"].concat(textClasses))= text
        - if(hasArrow)
          span(class=["button__arrow"])
            +arrow()