@font-face {
    font-family: Montserrat; 
    src: url(./Fonts/Montserrat/Montserrat-Medium.ttf);
   }
@font-face {
    font-family: NunitoSans;
    src: url(./Fonts/NunitoSans/NunitoSans-Regular.ttf);
}  
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: content-box;
}
html{
    width: 100%;
    min-width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: rgb(255, 255, 255);
}
body > div{
    display: flex;
    flex-basis: auto;  
    width: 100%;
    flex-wrap: wrap;
}

/* HEADER */
#header{
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}
#header #item1{
    margin-left: 7%; 
}
#header #item2{
    margin-right: 7%; 
    width: 16%;
}
#header #item1 img{
    min-height: 25px;
}
#header #item2 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#header #item2 ul li{
    flex-basis: 20%;
}
#header #item2 ul li a{
    text-decoration: none;
    font-family: "Montserrat";
    font-size:  12px;
    font-weight: bold;
    color: #191919;
}
#header #item2 ul li:first-child{
    margin-left: 0px;
}
#header #item2 ul li:first-child a{
    color: #10c9c3;
}


/* BANNER */
#banner{
    flex-direction: column;
    padding: 100px 0px;
    text-align: center;
    background: #f6f6f6;
}
#banner p:first-child{
    font-size: 38px;
    font-family: "Montserrat";
    margin-bottom: 35px;
}
#banner p:last-child{
    font-size: 18px;
    font-family: "Montserrat";
    color: #808080;
    margin: 0px 30%;
}


/* WORK */
#work{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#work a{
    width: 25%;
    color: white;
}
#work a.row_1:nth-child(2n+1),
#work a.row_3:nth-child(2n+1){
    background: #838383;
}
#work a.row_1:nth-child(2n),
#work a.row_3:nth-child(2n){
    background: #dddddd;
}
#work a.row_2:nth-child(2n+1){
    background: #dddddd;
}
#work a.row_2:nth-child(2n){
    background: #838383;
}
#work a:nth-child(n) span{
    color: rgba(0, 0, 0, 0);
}
#work a:nth-child(n):hover{
    background: #32d0cb;
}
#work a:nth-child(n):hover span{
    color: rgba(255, 255, 255, 1);
}


/* FOOTER */
#footer{
    background: #141414;
    color: #bcbcbc;
    padding: 100px 0px;
}
#footer div p:first-child{
    color: white;
    margin-bottom: 30px;
    font-family: "Montserrat";
    font-size: 18px;
}
#footer div p{
    width: 100%;
    margin-right: 0px;
    font-family: "NunitoSans";
    font-size: 15px;
}
#footer ul{
    list-style: none;
}
#footer ul li a{
    color: #bcbcbc;
    text-decoration: none;
    font-family: "NunitoSans";
    font-size: 15px;
}
#footer > *:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
    width: 16%;
}
#footer > *:nth-child(2){
    width: 11%;
    margin-left: 18%;
}
#footer > *:nth-child(3){
    margin-left: 10%;
}
#footer > *:nth-child(4){
    margin-left: 4%;
}
#footer > *:nth-child(5){
    margin-left: 10%;
}
