@import '../logo/logo.scss';
@import '../navigation-bar/navigation-bar.scss';
@import '../social-media/social-media.scss';
@import '../button/button.scss';

.footer {
  display: grid;
  grid-template-columns: max-content auto max-content min-content;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 1.1rem 7.3125rem 1.2rem;

  &__logo {
    margin-right: 4.56rem;
  }

  &__social-media {
    margin-right: 2.75rem;
  }

  &__button {
    width: 7.0625rem;
    height: 2.6875rem;
  }

  &__copyright {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1.75rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(174, 184, 208);
  }
}
