.social-media {
  line-height: 0rem;

  &__ref {
    cursor: pointer;
    margin: 0rem 1.045rem;

    &:first-of-type {
      margin-left: 0rem;
    }

    &:last-of-type {
      margin-right: 0rem;
    }
  }

  &__image-svg {
    &:hover .social-media__image-path {
      fill: rgb(97, 136, 255);
    }
  }
}
