extends ../base/base

include ../../components/header/header.pug
include ../../components/hero-image/hero-image.pug
include ../../components/customers/customers.pug
include ../../components/footer/footer.pug

block body
  div(class=["page1"])
    div(class=["page1__header"])
      +header()
    div(class=["page1__hero-image"])
      +hero-image()
    div(class=["page1__customers"])
      +customers()
    div(class=["page1__footer"])
      +footer()